{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_additional %}
    <h1>Available shops</h1>

    {{ dump(page.extensions.local_shops) }}

    {{ parent() }}
{% endblock %}
