{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_columns %}
    {{ parent() }}

    {% if page.footer.extensions.local_shops_list|length %}
        <div class="col-md-4 footer-column">
            <h3>Local shops list</h3>
            {% for shop in page.footer.extensions.local_shops_list %}
                <p>{{ shop.name }} - {{ shop.contactPhone }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
